<h3>Ваша заявка отправлена</h3>

<p>Благодарим вас, <%= @order.name %>! Мы свяжемся с вами в ближайшее время.</p>

<script type="text/javascript">
	$(function() {
		window.localStorage.clear();
	});
</script>
