<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' class="form-control" placeholder="Ваш логин" autofocus>
  <input type="text" name='pass' class="form-control" placeholder="Ваш пароль">
  <input class="btn primary" type='submit' value='Войти'>
</form>
